body, html {
    height: 100%;
    width: 100%;
    background: #b17814; 
}

/* The hero image */ 
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/ArtsForAll.png); 
  /* Set a specific height */
  height: 50%; 

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  position: relative;  
}  

/* Place text in the middle of the image */
.hero-text {
  text-align: center; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
} 
.skillsTools pt-2 {
    text-align: center;

} 

.dropdown-item {
    background-color: transparent;
    border: 0;
  }
  .dropdown-item:hover, .dropdown-item:focus {
    color: #060a11;
    background: none;
    background-color: #e9ecef;
  }


.content me-xxl-8 me-0 {
    text-align:center;
} 

.project-desc{
    background-color: rgb(10, 9, 9);
    color: rgb(255, 255, 255);
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px; 
    padding-right: 0px;

    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;

    
    
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-position:relative;
    display: inline-block;
    text-align: center;

    width: 100%;
    height: 100%;
    

    
}

.center {
    text-align: center;
    padding: 70px 0;
}


.section-header {
  
  @media (max-width: 991.98px) {
    .section-header {
      text-align: center;
    }
  }
  .section-header h2 {
    position: relative;
    margin-bottom: 12px;
  }
  @media (max-width: 575.98px) {
    .section-header h2 {
      margin-bottom: 0;
    }
  }

  


